<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176334985842-j2q4v7uto83k9nkd04aquhfn006qqnrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176334985842-j2q4v7uto83k9nkd04aquhfn006qqnrk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176334985842-caidnoigsvcff3135pfrhdok7imsn0lt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABpgdcmEliVwSsTfY307z1uqOM3jvpNkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>176334985842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icdatinnovations.ukUniDeptGraduatesTemplate</string>
	<key>PROJECT_ID</key>
	<string>uk-uni-graduates-template</string>
	<key>STORAGE_BUCKET</key>
	<string>uk-uni-graduates-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176334985842:ios:9dd14260a3767891fb40eb</string>
</dict>
</plist>